/* styles.css */
html {
  overflow-x: hidden;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: white;
  top: 0;
  z-index: 20;
  transition: height 0.3s ease-in-out;
}
.navbar_container {
  position: fixed;
  left: 500px;
  margin: 63px 0px 0px 0;
}
.navbar_container_navpoints {
  text-decoration: none;
  font-size: 18px;
  color: #7e8082;
  margin: 0 20px;
  transition: all 0.5s ease;
}
.navbar_container_navpoints:hover {
  color: #74c54f;
}
.navbar_logo {
  margin: min(2.4vw, 40px) min(7.2vw, 50px);
  width: min(60vw, 450px);
  transition: margin 0.5s ease-in-out, width 0.5s ease-in-out;
}
.navbar_logo.smaller {
  margin: min(2.4vw, 10px) min(7.2vw, 30px);
  width: min(60vw, 350px);
}
.navbar_infotxt {
  position: fixed;
  font-size: 16px;
  top: -5px;
  /* Anpassen der vertikalen Position */
  left: min(7.5vw, 150px);
  color: #797777;
}
@media (max-width: 1250px) {
  .navbar_infotxt {
    display: none;
  }
  .navbar_container {
    display: none;
  }
}
.navbar_burger-menu {
  position: fixed;
  top: min(4.5vw, 30px);
  /* Anpassen der vertikalen Position */
  left: min(4.5vw, 50px);
  /* Anpassen der horizontalen Position */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: min(9.74vw, 55px);
  height: min(6vw, 40px);
  cursor: pointer;
  z-index: 100;
}
.navbar_burger-menu div {
  width: 100%;
  height: min(1.2vw, 8px);
  border-radius: 10px;
  background-color: #acd36d;
  transition: all 0.3s linear;
}
.navbar_burger-menu.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.navbar_burger-menu.open div:nth-child(2) {
  opacity: 0;
}
.navbar_burger-menu.open div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}
.navbar_nav-overlay {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 15;
}
.navbar_nav-overlay.active {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  z-index: 12;
}
.navbar_nav-overlay ul {
  list-style: none;
  color: #acd36d;
  text-align: left;
}
.navbar_nav-overlay ul li {
  margin: 50px;
}
.navbar_nav-overlay ul li a {
  text-decoration: none;
}
.navbar_nav-overlay ul li .title-container .title-header {
  font-size: min(15vw, 4rem);
  margin: 10px 0px;
  letter-spacing: -5px;
  line-height: min(8vw, 1.8rem);
}
.navbar_nav-overlay ul li .title-container:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.navbar_nav-overlay.show {
  visibility: visible;
  opacity: 1;
}

.scroll-indicator {
  position: fixed;
  margin-left: min(100px, 4vw);
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scroll-indicator_dot {
  width: min(4vw, 30px);
  height: min(4vw, 30px);
  border-radius: 50%;
  background-color: transparent;
  background-color: #c1c0c0;
  margin-bottom: min(3vw, 20px);
  transition: background-color 0.5s ease-in-out;
}
.scroll-indicator_dot.active {
  background-color: #acd36d;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  padding-top: min(12vw, 145.469px);
}

.title-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  transition: transform 0.2s ease-in;
}
.title-container .title-header {
  /* background-color: #000000; */
  color: #acd36d;
  font-family: "MrsEavesRoman", sans-serif;
  font-weight: 100;
  font-size: min(15vw, 8rem);
  margin: 0;
  padding: 0;
  letter-spacing: max(-0.84vw, -8px);
  line-height: min(8vw, 6.5rem);
}
.title-container .e {
  transform: scaleX(-1);
  font-size: min(16vw, 9rem);
  margin-top: max(-0.94vw, -12px);
  margin-left: min(0.94vw, 10px);
  margin-right: max(-0.94vw, -10px);
  color: #c1c0c0;
  /* margin: 0 05px; */
}

.subtitle {
  font-size: min(5.5vw, 2.5rem);
  /* adjust as needed */
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #7e8082;
  /* any other styling you want for the subtitle */
}

.text-snippet {
  max-width: 600px;
  color: #797777;
  font-size: min(3.6vw, 1.2rem);
  line-height: 1.5rem;
  text-align: left;
  /* styling for the text snippets */
}

#herzlich {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgb(255, 255, 255) 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255) 100%), url("../assets/background.png");
  background-size: cover;
  background-position: right;
}
@media (max-width: 768px) {
  #herzlich {
    background: white;
    margin-top: 10px;
  }
}
#herzlich .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: min(15vw, 250px);
  margin-left: 15vw;
  text-align: left;
  padding-top: 50px;
}

#career {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 100%), linear-gradient(to top, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 100%), url("../assets/backgroundLeistungen.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  #career {
    margin-top: 50px;
    height: auto;
    margin-bottom: 150px;
  }
}
#career .content {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: min(5vw, 100px);
  flex-wrap: wrap;
  justify-content: center;
}
#career .content .text-snippet {
  margin: 0 20px;
  justify-self: center;
  align-self: center;
  max-width: 400px;
  min-width: 300px;
  margin-left: 60px;
  margin-right: 60px;
}
#career .content .career-image {
  width: 20vw;
  min-width: 300px;
  margin: 0 0 20px 0;
}

#leistungen {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
@media (max-width: 768px) {
  #leistungen {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
#leistungen .title-container .title-header {
  font-size: min(15vw, 12rem);
}
#leistungen .title-container .title-header.e {
  margin-top: -2px;
}
#leistungen .subtitle {
  margin-left: -16rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  #leistungen .subtitle {
    margin-left: 0;
    margin-top: 20px;
  }
}
#leistungen .content {
  display: flex;
  flex-wrap: wrap;
}
#leistungen .content .container {
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  #leistungen .content .container {
    margin-bottom: 0px;
  }
}
#leistungen .content .container .custom-details.active .details-content {
  max-height: 500px;
}
#leistungen .content .container .custom-details .summary-content {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: min(5.5vw, 2rem);
  font-weight: 500;
  color: #797777;
  max-width: 500px;
  min-width: 300px;
  padding: 10px;
  padding: 10px 20px;
}
#leistungen .content .container .custom-details .details-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  max-width: 35vw;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
}
#leistungen .content .container .custom-details .details-content li {
  position: relative;
  list-style-type: none;
  color: #797777;
  margin: 10px 50px;
  font-size: min(3.6vw, 1.3rem);
}
#leistungen .content .container .custom-details .details-content li::before {
  content: "";
  position: absolute;
  left: -1em;
  top: 0.7rem;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #acd36d;
}

#digital {
  background-size: cover;
  display: flex;
  background-position: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  #digital {
    margin-top: 50px;
  }
}
#digital .subtitle {
  margin-left: -140px;
  margin-top: 5x;
}
@media (max-width: 768px) {
  #digital .subtitle {
    margin-left: 0;
    margin-top: 15px;
  }
}
#digital .content {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-right: min(15vw, 250px);
  margin-top: 100px;
  text-align: left;
  margin-left: 15vw;
  justify-content: center;
}
#digital .content .text-snippet {
  margin: 0 20px;
  justify-self: center;
  align-self: center;
  max-width: 400px;
}
#digital .content .button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: calc(-1.365vw + 25.667px);
  max-height: 35vw;
}
#digital .content .button-container .my-button {
  padding: 10px;
  cursor: pointer;
  background-color: #acd36d;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}
#digital .content .button-container .my-button:hover {
  background-color: white;
  color: #acd36d;
}

#contact {
  display: flex;
  height: 100vh;
}
@media (max-width: 768px) {
  #contact {
    height: auto;
    margin-bottom: 100px;
  }
}
#contact .container {
  flex: 1 1 700px;
  margin: min(13vw, 250px) min(13vw, 250px);
  padding: 10px;
}
#contact .container .screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}
#contact .container .screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}
#contact .container .screen .screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#contact .container .screen .screen-header .screen-header-left {
  margin-right: auto;
}
#contact .container .screen .screen-header .screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}
#contact .container .screen .screen-header .screen-header-button.close {
  background: #ed1c6f;
}
#contact .container .screen .screen-header .screen-header-button.maximize {
  background: #e8e925;
}
#contact .container .screen .screen-header .screen-header-button.minimize {
  background: #74c54f;
}
#contact .container .screen .screen-header .screen-header-right {
  display: flex;
}
#contact .container .screen .screen-header .screen-header-right .screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}
#contact .container .screen .screen-body {
  display: flex;
  flex-wrap: wrap;
}
#contact .container .screen .screen-body .screen-body-item {
  flex: 1;
  padding: min(7vw, 50px);
}
#contact .container .screen .screen-body .screen-body-item.left {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  #contact .container .screen .screen-body .screen-body-item .screen-body {
    padding: 40px;
  }
  #contact .container .screen .screen-body .screen-body-item .screen-body .screen-body-item {
    padding: 0;
  }
}
@media (max-width: 520px) {
  #contact .container .screen .screen-body .screen-body-item .screen-body {
    flex-direction: column;
  }
  #contact .container .screen .screen-body .screen-body-item .screen-body .screen-body-item.left {
    margin-bottom: 30px;
  }
  #contact .container .screen .screen-body .screen-body-item .screen-body .screen-body-item .app-title {
    flex-direction: row;
  }
  #contact .container .screen .screen-body .screen-body-item .screen-body .screen-body-item .app-title span {
    margin-right: 12px;
  }
  #contact .container .screen .screen-body .screen-body-item .screen-body .screen-body-item .app-title:after {
    display: none;
  }
}
#contact .container .screen .screen-body .screen-body-item .app-title {
  display: flex;
  flex-direction: column;
  font-family: "MrsEavesRoman", sans-serif;
  position: relative;
  color: #acd36d;
  font-size: 26px;
  margin-bottom: 50px;
}
#contact .container .screen .screen-body .screen-body-item .app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 25px;
  height: 4px;
  background: #acd36d;
}
#contact .container .screen .screen-body .screen-body-item .app-title .title-container .title-header {
  font-size: min(15vw, 4rem);
  margin: 10px 0px;
  letter-spacing: -5px;
  line-height: min(8vw, 1.8rem);
}
#contact .container .screen .screen-body .screen-body-item .app-title .title-container .e {
  transform: scaleX(-1);
  font-size: 4rem;
  margin-left: 5px;
  margin-right: -7px;
  color: #c1c0c0;
}
#contact .container .screen .screen-body .app-contact {
  margin-top: auto;
  font-size: 0.75rem;
  color: #ffffff;
  text-decoration: none;
}
#contact .container .screen .screen-body .app-form .app-form-group {
  margin-bottom: 15px;
}
#contact .container .screen .screen-body .app-form .app-form-group.message {
  margin-top: 40px;
}
#contact .container .screen .screen-body .app-form .app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}
#contact .container .screen .screen-body .app-form .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}
#contact .container .screen .screen-body .app-form .app-form-control:focus {
  border-bottom-color: #ddd;
}
#contact .container .screen .screen-body .app-form .app-form-control::placeholder {
  color: #666;
}
#contact .container .screen .screen-body .app-form .app-form-button {
  background: none;
  border: none;
  color: #acd36d;
  transition: all 0.2s;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
#contact .container .screen .screen-body .app-form .app-form-button:hover {
  color: white;
}

.footer {
  position: relative;
  width: 100%;
  background: #acd36d;
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: min(2.8vw, 1rem);
  font-weight: 300;
}
.footer p a {
  color: #fff;
  text-decoration: none;
}
.footer .waves .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../assets/wave.png");
  background-size: 1000px 100px;
}
.footer .waves .wave.wave1 {
  z-index: 10;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.footer .waves .wave.wave2 {
  z-index: 5;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.footer .waves .wave.wave3 {
  z-index: 10;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.footer .waves .wave.wave4 {
  z-index: 5;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
.footer .social-icon,
.footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0;
  flex-wrap: wrap;
}
.footer .social-icon .social-icon__item,
.footer .social-icon .menu__item,
.footer .menu .social-icon__item,
.footer .menu .menu__item {
  list-style: none;
}
.footer .social-icon .social-icon__link,
.footer .menu .social-icon__link {
  font-size: min(6vw, 2rem);
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.footer .social-icon .social-icon__link:hover,
.footer .menu .social-icon__link:hover {
  transform: translateY(-10px);
}
.footer .social-icon .menu__link,
.footer .menu .menu__link {
  font-size: min(3.5vw, 1.2rem);
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.75;
  font-weight: 300;
}
.footer .social-icon .menu__link:hover,
.footer .menu .menu__link:hover {
  opacity: 1;
}
.footer .circle {
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: -50px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}
.footer .first {
  background: #add36c;
  left: -50px;
  border: solid;
  border-width: 2px;
  border-color: white;
}
.footer .second {
  bottom: -80px;
  background: #b8b9bc;
  right: -50px;
  width: 200px;
  height: 200px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
}